<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="h1_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import h1_description urdf file -->
    <xacro:include filename="$(find GenericHRLoader)/urdf/h1.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="h1_description.ros2_control.xacro" />


    <xacro:h1_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
